  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* Topbar */
.topbar {
  background: #2d2675;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  font-size: 14px;
}
.topbar .social-icons a img {
  width: 18px;
  margin: 0 10px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}
.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}
.search-box {
  flex: 1;
  margin: 0 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
.navbar span{
  color: #2d2675;
  background-color: white;
  margin: 0 10px;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  margin: 0 10px;
}
.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.navbar ul li.active a {
  color: #ff3c3c;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px; 
  background: linear-gradient(90deg, #f9f9ff, #fff);
}
.hero-text {
  width: 50%;
}
.hero ul{
  display: flex;
  list-style-type: none;
}
.hero ul li{
  margin: 0px 20px;
}
.hero ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.hero ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.hero-text h1 {
  font-size: 35px;
  color: #2d2675;
}
.hero-text p {
  margin: 20px 0;
  line-height: 1.6;
}
.btn {
  background: white;
  color: #2d2675;
  padding: 10px 20px;
  border: none solid #2d2675;
  border-radius: 5px;
}
.positions{
  display: flex;
  gap: 10px;
  align-items: center;
}
.round{
  margin: 20px 0px;
  background-color: #ff3c3c ;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.empty{
  background: white;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  position: relative;
  top: 1px;
  left: 1px;
}
.circle{
  background: #ff3c3c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 9px;
  left: 9px;
}
.circle1{
  background: silver;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.hero-books img {
  width: 620px;
  margin-left: -30px;
  margin-right: -30px;
  border-radius: 5px;
}

/* Categories */
.categories {
  text-align: center;
  padding: 40px 30px;
}
.categoriesin{
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 30px;
}
.categoriesin1 .cat-title{
  text-align: left;
  color: #ff3c3c;
  font-size: 14px;
  margin-left: 35px;
}
.categories h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 35px;
}
.categories p{
  width: 700px;
  margin: 20px;
  line-height: 1.6;
}
.positions1{
  display: flex;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  /* justify-content: space-between; */
  gap: 10px;
}
.circle2{
  background: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.circle2 p{
  color: #fff;
  position: relative;
  top: -18px;
  left: -13px;
}
.cat-container {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}
.cat-item {
  width: 435px;
}
.cat-item img {
  width: 100%;
  width: 430px;
  border-radius: 10px;
}
.cat-item p {
  width: 480px;
  margin-top: 10px;
  font-weight: bold;
}
.cat-item1{
  margin-top: -30px;
  font-weight: lighter;
}
.cat-item1 p{
  width: 430px;
}
.categories .btn{
   background: white;
  color: rgba(57, 50, 128, 1);
  padding: 10px 20px;
  border-radius: 5px;
}
/* Ebook */
.ebook{
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 40px 30px;
  background: linear-gradient(to right, rgba(252, 236, 236, 1), rgba(246, 255, 254, 1));
}
.ebook .text{
  width: 50%;
}
.book-title{
  margin-bottom: 100px;
  text-align: left;
  color: #ff3c3c;
  font-size: 14px;
}
.ebook h2{
   font-size: 24px;
   margin-bottom: 20px;
   width: 600px;
}
.ebook .book-title1{
  padding-top: 0;
  margin-bottom: 100px;
  line-height: 1.6;
  width: 600px;

}
.ebook input{
  border-color: white;
  color: black;
  background-color: white;
  width: 316px;
  height: 31.6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ebook .btn1{
  border-color: #ff3c3c;
  color: white;
  background-color: #ff3c3c;
  margin-left: -7px;
  width: 79px;
  height: 31.6px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ebook .photo img{
  width: 550px;
  box-sizing: border-box;
}
/* books */
.books{
  height: 855px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 30px;
}
.books-title{
  color: rgba(122, 122, 122, 1);
  font-size: 14px;
}
.books h2{
  color: rgba(57, 50, 128, 1) ;
  margin: 0px 10px;
  font-size: 48px;
}
.first{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first .cart_img{
   width: 326px;
  height: 437px;
  border: 2px;
  box-shadow:0 0 10px 5px rgba(0, 0, 0, 0.15);
  margin-top: 63px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text h3{
  color: rgba(57, 50, 128, 1);
}
.text span{
  font-size: 14px;
  color: rgba(136, 136, 136, 1);
}
.text h4{
  font-size: 18px;
  color: rgba(237, 85, 59, 1);
}
hr{
  margin: 10px;
}
.positions1{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.round{
  margin: 20px 0px;
  background-color: #ff3c3c ;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.empty{
  background: white;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  position: relative;
  top: 1px;
  left: 1px;
}
.circle{
  background: #ff3c3c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 9px;
  left: 9px;
}
.circle1{
  background: silver;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.view{
  color:  rgba(237, 85, 59, 1);
  font-size: 16px;
  text-align: right;
  padding-bottom: 40px;
}
/* Featured */
.featured{
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 40px 30px;
background: linear-gradient(to right, rgba(252, 236, 236, 1), rgba(246, 255, 254, 1));
}
.featured img{
  width: 500px;
}
.featured h1{
  margin-bottom: 100px;
  color: rgba(57, 50, 128, 1);
}
.featured .line{
  width: 100px;
  height: 2px;
  background-color: rgba(237, 85, 59, 1);
  margin-bottom: 10px;
}
.featured h5{
  font-size: 13px;
  color: rgba(136, 136, 136, 1);
  margin-bottom: 40px;
}
.featured p{
  font-size: 28px;
  color: rgba(57, 50, 128, 1);
  margin-bottom: 30px;
}
.featured h6{
  width: 486px;
  font-size: 16px;
  color: rgba(122, 122, 122, 1);
  margin-bottom: 80px;
}
.featured h4{
  color: rgba(237, 85, 59, 1);
  margin-bottom: 100px;
}

.featured .btn{
  background: white;
  color: rgba(57, 50, 128, 1);
  padding: 10px 20px;
  border-radius: 5px;
}
/* all-book */
.all-book{
  width: 100%;
  height: 561px;
  align-items: center;
  text-align: left;
  display: flex;
  justify-content: space-around;
  padding: 40px 30px;
  position: relative;
}
.all-bookin{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  border: 1px;
  border-radius: 20px;
  background-color: rgba(252, 235, 234, 1);
  padding: 73px 0 0 80px;
}
.all-book .textboss{
  width: 588px;
}
.all-book h2{
  margin-bottom: 10px;
  width: 80%;
  font-size: 45px;
  color: rgba(70, 60, 116, 1);

}
.all-book p{
  margin-bottom: 10px;
  width: 80%;
  font-size: 18px;
  color: rgba(57, 50, 128, 1);
}
.time{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 50%;

}
.time .timein{
  margin: 10px 0px;
}
.time .num{
  font-size: 26px;
  color: rgba(237, 85, 59, 1);
}
.positions2{
  display: flex;
  gap: 10px;
  align-items: center;
}
.round{
  margin: 20px 0px;
  background-color: #ff3c3c ;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.empty1{
  background: rgba(252, 235, 234, 1);
  position: relative;
  top: 1px;
  left: 1px;
  width: 38px;
  height: 38px;
  border-radius: 50px;
}
.circle{
  background: #ff3c3c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.circle1{
  background: silver;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.book_imgg{
  position: absolute;
  right: 70px;
  top: 37px;
}
/* Subscribe */
.subscribe {
  width: 100%;
  height: 427px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 40px 30px;
  position: relative;
  background-color: rgba(224, 224, 224, 1);
  margin-bottom: 10px;
}
.subscribe h1{
  font-size: 48px;
  color: rgba(17, 17, 17, 1);
  width: 60%;
}
.subscribe .secont{
  width: 50%;
}
.subscribe p{
  font-size: 20px;
  color: rgba(122, 122, 122, 1);
  margin-bottom: 56px;
}
.subscribe .enter{
  display: flex;
  justify-content: space-between;
}
.subscribe span{
  font-size: 16px;
  color: rgba(122, 122, 122, 1);
}
.enter .send{
  font-size: 20px;
  color: rgba(237, 85, 59, 1);
}
.secont hr{
  width: 730px;
  margin-left: 0px;
}
/* read-our */
.read-our{
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 40px 30px;
}
.read-ourin{
  align-items: center;
  text-align: center;
}
.read-ourin .pphoto{
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-evenly;
}
.read-ourin .read-ourin1{
  padding-bottom: 30px;
}
.read-ourin1 span{
  font-size: 32px;
  color: rgba(68, 68, 68, 1);
}
.read-ourin img{
  margin: 10px;
}
.read-ourin h4{
  width: 500px;
  height: 20px;
  position: relative;
  bottom: 80px;
  color: rgba(255, 255, 255, 1);
  padding-left: 20px;
}
.read-ourin h5{
  width: 550px;
  height: 0px;
  position: relative;
  bottom: 75px;
  color: rgba(255, 255, 255, 1);
  padding-left: 20px;
}
/* company */
.company{
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
  /* height: 200px; */
  background: linear-gradient(to right, rgba(255, 229, 229, 1), rgba(245, 255, 254, 1), rgba(252, 243, 255, 1), rgba(255, 244, 229, 1));
  padding: 100px 150px;
}
.companyin{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.companyin h4{
  margin-bottom: 40px;
  font-size: 24px;
  color: rgba(237, 85, 59, 1);
}
.companyin h5{
  width: 300px;
}
.company .logo{
  margin-bottom: 20px;
}
.company .blok1{
  align-items: center;
}
.blok1 h2{
  margin-bottom: 50px;
  font-size: 18px;
  width: 400px;
}
.blok2 h2{
  margin-top: 15px;
}
.blok3-1{
  margin-left: 20px;
}
.blok3-1 h3{
  color: rgba(237, 85, 59, 1);
}
.blok3-1 h5{
  color: rgba(1, 22, 39, 1);
  margin: 10px;
  margin-left: 0px;
}
.blok3-1 li{
  color: rgba(246, 213, 92, 1);
  margin-left: 15px;
}
.blokin{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.online a{
  padding-right: 100px;
  margin-bottom: 60px;
  width: 20px;
  height: 20px;
}
.company .online{
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}
.end{
  display: flex;
  justify-content: space-between;
}